<main class="cd-main-content">
	<section class="cd-gallery">
		<ul>
			{{#if tasks.length}}
				{{#each tasks}}
				<div class="card">
					<div class="task_container">
						<p> {{text}} </p>
					</div>
				</div>
				{{/each}}
			{{else}}
				<center><h1 id="error_msg">Задач нет</h1></center>
			{{/if}}
		</ul>
	</section>

	<div class="cd-filter">
		<form>
			<div class="cd-filter-block">
				<h4>Поиск</h4>
				<div class="cd-filter-content">
					<input type="search" placeholder="Текст">
				</div> 
			</div>

			<div class="cd-filter-block">
				<h4>Классы</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".class_6" type="checkbox" id="checkbox1">
						<label class="checkbox-label" for="checkbox1">6</label>
					</li>

					<li>
						<input class="filter" data-filter=".class_7" type="checkbox" id="checkbox2">
						<label class="checkbox-label" for="checkbox2">7</label>
					</li>

					<li>
						<input class="filter" data-filter=".class_8" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">8</label>
					</li>

					<li>
						<input class="filter" data-filter=".class_9" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">9</label>
					</li>

					<li>
						<input class="filter" data-filter=".class_10" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">10</label>
					</li>

					<li>
						<input class="filter" data-filter=".class_11" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">11</label>
					</li>
				</ul>
			</div>

			<div class="cd-filter-block">
				<h4>Разделы</h4>
				<div class="cd-filter-content">
					<div class="cd-select cd-filters">
						<select class="filter" name="selectThis" id="selectThis">
							<option value=".option1">Все</option>
							<option value=".option1">Механика</option>
							<option value=".option3">Термодинамика</option>
							<option value=".option2">Оптика</option>
							<option value=".option4">Электродинамика</option>
						</select>
					</div> 
				</div>
			</div>

			<div class="cd-filter-block">
				<h4>Сложность</h4>
				<span class="fa fa-star checked" style="font-size: 25px"></span>
				<span class="fa fa-star checked" style="font-size: 25px"></span>
				<span class="fa fa-star checked" style="font-size: 25px"></span>
				<span class="fa fa-star" style="font-size: 25px"></span>
				<span class="fa fa-star" style="font-size: 25px"></span>
			</div>
		</form>
		
		<a href="#main" class="cd-close">X</a>
	</div>
</main>

<style>
	.checked {
		color: #4b19ff;
	}

	#error_msg {
		left: 50%;
		color: beige;
	}

	/******* CARD *******/
	.card {
	/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.task_container {
		padding: 4px 10px;
		background-color: #333;
		color: beige;
		margin: 5px;
	}

	.task_container:hover {
		background-color: #4b19ff;
		color: beige;
	}

	.task_image {
		height: 10%;
		width: 10%;
	}

</style>
