<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="man3.png" alt="John Doe" id="card_img" style="width:312px; height:312px">
<div id="name_surmane"><h1>Email:</h1> <h1>Адрес проживания:</h1><h1>Роль:</h1><h1>Дата создания:</h1></div>
  
</div>

<style>

.card {
  display: flex;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*//* TRANSPARENCY COLOR */
  color: white;
  background-color: #333;
  /*max-width: 40%;*/
  margin: 2%;
  text-align: center;
  
  
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


#card_img {
  margin: 2%;
  margin-left: 5%;
  
}

#name_surmane {
  margin-left: 20%;
  margin-top: 25px;
  color: #ffffff; font-family: ‘Lato’, sans-serif; font-size: 20px; font-weight: 300; line-height: 58px;  text-align: center;
  width: 100px; 
  
}
</style>