<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">School</a>
    <ul class="right hide-on-med-and-down">
        <!--  MAIN  -->
        {{#if main}}
            <li class="active"><a href="/">Main</a></li>
        {{else}}
            <li><a href="/">Main</a></li>
        {{/if}}

        <!--  SUBJECTS  -->
        {{#if subjects}}
            <li class="active"><a href="/subjects">Subjects</a></li>
        {{else}}
            <li><a href="/subjects">Subjects</a></li>
        {{/if}}

        <!--  TASKS  -->
        {{#if tasks}}
            <li class="active"><a href="/tasks">Tasks</a></li>
        {{else}}
            <li><a href="/tasks">Tasks</a></li>
        {{/if}}

        <!--  ADD  -->
        {{#if add}}
            <li class="active"><a href="/add">Add</a></li>
        {{else}}
            <li><a href="/add">Add</a></li>
        {{/if}}

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>