  <!---------- SEARCH ----------->
  <a href="#add" id="search_btn"><img src="add.png"  height="25px" width="25px"/></a>
  


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Добавить задачу</h1>

    <form action"/" method="POST">
      <label for="text">Текст задачи</label>
      <textarea id="text" name="subject" placeholder="Введите что-нибудь.." class="validate" style="height:200px"></textarea>

      <label for="subject">Ответ</label>
      <textarea id="subject" name="subject" placeholder="Введите что-нибудь.." class="validate" style="height:50px"></textarea>

      <label for="img">Изображение</label>
      <input id="img" type="text" placeholder="Путь к картинке" class="validate">

      <button class="btn btn-primary">Сохранить</button>
    </form>

  </div>
</div>


<style>
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>














<script>
/***************************************************
******************** SEARCH ************************
***************************************************/

var modal = document.getElementById("myModal");
var btn = document.getElementById("search_btn");
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}



</script>