<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/add.css">
        <link rel="stylesheet" href="/page.css">
        <link rel="stylesheet" href="/tasks.css">
        <link rel="stylesheet" href="/search.css">
        <!-- FONT (OPEN SANS) -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;700&display=swap" rel="stylesheet">
        <!-- TASK FILTER (J-QUERY) -->
	    <link rel="stylesheet" href="/filter-style.css"> 
        
        <title>{{title}}</title>
    </head>

