<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/add.css">
        <link rel="stylesheet" href="/page.css">
        <link rel="stylesheet" href="/tasks.css">
        <link rel="stylesheet" href="/search.css">
        <title>{{title}}</title>
    </head>
