<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
        <link rel="stylesheet" href="/font-awesome-all.css">
        <link rel="stylesheet" href="/font-awesome-solid.css">
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/add.css">
        <link rel="stylesheet" href="/page.css">
        <link rel="stylesheet" href="/tasks.css">
        <link rel="stylesheet" href="/search.css">
        <!-- FOR FILTER (J-QUERY) -->
        <!--<link rel="stylesheet" href="/filter-reset.css">  -->
	    <link rel="stylesheet" href="/filter-style.css"> 
        <title>{{title}}</title>
    </head>

