
<div class="topnav navbar" id="myTopnav">
  <!--<a href="#home" class="active">Профиль</a>-->
  {{> profile}}

  <a href="#search" class="cd-filter-trigger"><img src="search.png"  height="25px" width="25px"/></a>

  {{> add}}
  
  <a href="#home"><img src="remove.png" height="25px" width="25px"/></a>
  {{> update}}

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
