  <!---------- PROFILE ---------->
  <div class="profile" id="profile_btn">
    <!--<button class="profile_btn" onclick="profile_drop()">Профиль </button> -->
   <button class="profile_btn">ПРОФИЛЬ <!-- <i class="fa fa-caret-down"></i>--> </button> 
    <div class="profile-content" id="profile_dropdown">
      <a href="#">Мой профиль</a>
      <a href="#">Добавить</a>
      <a href="#">Войти</a>
    </div>
  </div> 

<script> 
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function profile_drop() {
    document.getElementById("profile_dropdown").classList.toggle("show");
  }
  
  // Close the dropdown if the user clicks outside of it
  window.onclick = function(e) {
    if (!e.target.matches('.profile_btn')) {
    var profile_dropdown = document.getElementById("profile_dropdown");
      if (profile_dropdown.classList.contains('show')) {
        profile_dropdown.classList.remove('show');
      }
    }
  }
</script>

<style>
  /**************** PROFILE *******************/
  .profile {
    float: left;
    overflow: hidden;
  }
  
  .profile .profile_btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 50px;
  }
  
  .navbar a:hover, .profile:hover .profile_btn, .profile_btn:focus {
    background-color: #4b19ff;
    padding: 16px 16px;
  }
  
  .profile-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  }
  
  .profile-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  .profile-content a:hover {
    background-color: #333;

  }
  
  .show {
    display: grid;
  }
</style>