
<!--button id="remove">Open Modal</button>-->

<a href="#remove" id="remove"><img src="remove.png" height="25px" width="25px"/></a>
<!-- The Modal -->
<div id="remove_modal" class="remove_modal">

  <!-- Modal content -->
  <div class="remove_modal_content">
    <span class="close">&times;</span>
    <h1>Вы действительно хотите удалить задачу?</h1>
    <a href='/' class='remove_btn' id='yes' >Да</a>
    <button class='remove_btn' id ='no'>Нет</button>
  </div>

</div>

