
<!--button id="remove">Open Modal</button>-->

<a href="#remove" class="profile" id="remove">УДАЛИТЬ</a> <!--<img src="remove.png" height="25px" width="25px"/>-->
<!-- The Modal -->
<div id="remove_modal" class="remove_modal">

  <!-- Modal content -->
  <div class="remove_modal_content">
    <span class="close">&times;</span>
    <h1>Вы действительно хотите удалить задачу?</h1>
    <form action="/remove" method="POST">
      <input type="hidden" name="id" value="{{task.id}}">
      <button href='/{{task.id}}#remove/yes' class='remove_btn' id='yes' >Да</button>
    </form>
    <!--<button class='remove_btn' id ='no'>Нет</button>-->
  </div>

</div>

