<div class="navbar">

  {{>profile}}
  
  <!-- <a href="/tasks">Задачи</a> -->

  
  <a href="#0" class="cd-filter-trigger"><img id="search_svg" src="search.png"  height="25px" width="25px"/></a>


</div>



