<!---------- UPDATE ----------->
<a href="/{{id}}/edit?allow=true"><img src="update.png"  height="25px" width="25px"/></a>




<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Добавить задачу</h1>

    <form action"/" method="POST">
      <label for="text">Текст задачи</label>
      <textarea id="text" name="text" type="text" placeholder="Введите что-нибудь.." class="validate" style="height:200px"></textarea>

      <label for="subject">Ответ</label>
      <textarea id="subject" name="subject" placeholder="Введите что-нибудь.." class="validate" style="height:50px"></textarea>

      <label for="img">Изображение</label>
      <input id="img" name="img" type="text" placeholder="Путь к картинке" class="validate">

      <div class="cd-filter-content">
        <div class="cd-select cd-filters">
          <select class="filter" name="selectThis" id="selectThis">
            <option value=".option1">Все</option>
            <option value=".option1">Механика</option>
            <option value=".option3">Термодинамика</option>
            <option value=".option2">Оптика</option>
            <option value=".option4">Электродинамика</option>
          </select>
        </div> 
      </div> >
      
      <label for="year">Класс</label>
      <input id="year" name="year" type="text" placeholder="От 6 до 11" class="validate">

      <label for="complexity">Сложность задачи</label>
      <input id="complexity" name="complexity" type="text" placeholder="От 1 до 10" class="validate">

      <button class="btn btn-primary">Сохранить</button>
    </form>

  </div>
</div>