body {
    margin: 0;
    background-image: url(/main_background.jpg);
    background-size: 50%;
    font-family: 'Open Sans', sans-serif;
    /*background-repeat: no-repeat;*/
    overflow: hidden;
}

